<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faltasURL</key>
	<string>http://joaquim.local/MackTia/faltas.php</string>
	<key>notasURL</key>
	<string>http://joaquim.local/MackTia/notas.php</string>
	<key>loginURL</key>
	<string>http://joaquim.local/MackTia/ping.php</string>
</dict>
</plist>
