<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faltasURL</key>
	<string>http://macktia.mybluemix.net/faltas.php</string>
	<key>notasURL</key>
	<string>http://macktia.mybluemix.net/notas.php</string>
	<key>loginURL</key>
	<string>http://macktia.mybluemix.net/ping.php</string>
	<key>&lt;remote&gt; URL Base</key>
	<string>http://macktia.mybluemix.net/</string>
	<key>&lt;local&gt; URL Base</key>
	<string>http://localhost/MackTia/</string>
</dict>
</plist>
