<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parte 1</key>
	<string>aNw3476Bi4ok33T987nQ</string>
	<key>parte 2</key>
	<string>wc8oc669GE738m8uMA77</string>
</dict>
</plist>
