<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>c827b1e06013cb3a55d7d26359651127705bbad3</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sua posição é importante para mostrar onde você está no campus.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bariol_Regular.otf</string>
		<string>Bariol_Bold.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>absence</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Veja suas Faltas</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Faltas</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_INDENTIFIER).OpenAbsences</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>grades</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Veja suas Notas</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Notas</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_INDENTIFIER).OpenGrades</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>hours</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Veja seu Horário e Sala</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Horário</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_INDENTIFIER).OpenSchedules</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>campus</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Veja o Campus</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Campus</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_INDENTIFIER).OpenCampusMap</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
